<div id = "popup_background">
	<div id = "popup">
		<div id ="popup_close">
			<p id = "popup_x"> 
				<p onclick="toggle_visibility('popup');">X</p>
			</p>
			<br>
		</div>
		<div class="map"></div>
		<div id = "listing_info">
			<h1><%=@listing.address%></h1>
			<h2><%=@listing.city.name%>, <%=@listing.state.abbreviation%> <%=@listing.zipcode.number%> </h2>
			<h3><%=@listing.bedroom_count%> beds</h3>
			<h3><%=@listing.bathroom_count%> baths</h3>
			<h3><%=@listing.area_square_feet%> sqft</h3>
			<p> <%=@listing.description%> </p>	
		</div>
		<h3>For sale at: $<%=@listing.price%></h3>
	</div>
	<%= link_to "delete", @listing, method: :delete, data: { confirm: "You sure?" } %>

</div>
