<%= javascript_tag do %>
  window.listings = <%= raw @listings.to_json %>;
  window.onload = loadScript()
  window.key = '<%=GOOGLE_MAPS_API_KEY%>'
<% end %>

<div class="row">
	<div class="col-sm-6">
		<div id="main_map" class="map"></div>
	</div>
	<div class="col-sm-6">
		<div id ="search_filter">
		  <h3> Search filter </h3>
		  <%= form_for @listing, url: { action: "search" } do |f| %>
		    <%= render 'form_errors' %>

		    <%= f.label :address %>:
		    <%= f.text_field :address %><br />

		    <%= f.label :bedroom_count %>:
		    <%= f.text_field :bedroom_count %><br />

		    <%= f.label :bathroom_count %>:
		    <%= f.text_field :bathroom_count %><br />

		    <%= f.label :area_square_feet %>:
		    <%= f.text_field :area_square_feet %><br />

		    <%= f.label :description %>:
		    <%= f.text_field :description %><br />
		    
		    <%= f.label :price %>:
		    <%= f.text_field :price %><br />

		    <%= f.label :state_abbreviation %>:
		    <%= f.text_field :state_abbreviation %><br />

		    <%= f.label :city_name %>:
		    <%= f.text_field :city_name %><br />

		    <%= f.label :zipcode_number %>:
		    <%= f.text_field :zipcode_number %><br />

		    <%= f.submit %>
		  <% end %>
		  <div id="search_results">
		  	<% if @searchResults != nil %>
		  		<%= @searchResults.length %>
		  		<% @searchResults.each do |result| %>
		  			<div id = "listing_info">
		  				<h1><%=result.address%></h1>
		  				<h2><%=result.city.name%>, <%=result.state.abbreviation%> <%=result.zipcode.number%> </h2>
		  				<h3><%=result.bedroom_count%> beds</h3>
		  				<h3><%=result.bathroom_count%> baths</h3>
		  				<h3><%=result.area_square_feet%> sqft</h3>
		  				<p> <%=result.description%> </p>	
		  			</div>
		  		<% end %>
		  	<% end %>
		  </div>
		</div>
	</div>
</div>
