<%= javascript_tag do %>
  window.listings = <%= raw @listings.to_json %>;
  window.onload = loadScript()
  window.key = '<%=GOOGLE_MAPS_API_KEY%>'
 
<% end %>

<%= link_to('Logout', destroy_user_session_path, method: :delete) %>

<div class="row">
	<div class="col-sm-6">
		<div id="main_map" class="map"></div>
	</div>
	<div class="col-sm-6">
		<div id ="search_filter">
		  <h3> Search filter </h3>
		  <% @test = "search"%>
		  <%= form_tag(action: @test, controller: "listings") do |f| %>
		    <%= render 'form_errors' %>

		    <%= label_tag :address %><br>
		    <%= text_field_tag :address %>
		    <p> Price </p>
		    <%= label_tag :min %>:
		    <%= text_field_tag :min_price, '', size: 8 %>
		    <%= label_tag :max %>:
		    <%= text_field_tag :max_price, '', size: 8 %><br />

		    <%= label_tag :max_area_square_feet %>:
		    <%= text_field_tag :max_area_square_feet %><br />

		    <%= label_tag :min_area_square_feet %>:
		    <%= text_field_tag :min_area_square_feet %><br />

		    <%= label_tag :min_bedroom_count %>:
		    <%= text_field_tag :min_bedroom_count %><br />

		    <%= label_tag :min_bathroom_count %>:
		    <%= text_field_tag :min_bathroom_count %><br />
		    <%= submit_tag %>
		  <% end %>
		  <div id="search_results">
		  	<% if @searchResults != nil %>
		  		<%= @searchResults.length %>
		  		<% @searchResults.each_with_index do |result, index| %>
	  				<% if index % 2 == 0 %>
	  					<div class="row search_results">
	  						<%= render partial: "thumb", locals: {listing: result} %>
	  				<% else %>
	  					<%= render partial: "thumb", locals: {listing: result} %>
	  					</div>
	  				<%end%>
	  			<% end %>
		  	<% end %>
		  </div>
		</div>
	</div>
</div>

