<div class="devise-centering">
  <%= form_for(@listing, html: {:multipart => true}, :url => { :action => :create }) do |f| %>
    <%= render partial: '/listings/form_errors', locals: {listing: @listing} %>
    <%= f.label :address %>:
    <%= f.text_field :address %><br />

    <%= f.label :bedroom_count %>:
    <%= f.text_field :bedroom_count %><br />

    <%= f.label :bathroom_count %>:
    <%= f.text_field :bathroom_count %><br />

    <%= f.label :area_square_feet %>:
    <%= f.text_field :area_square_feet %><br />

    <%= f.label :description %>:
    <%= f.text_field :description %><br />
    
    <%= f.label :price %>:
    <%= f.text_field :price %><br />

    <%= f.label :state_abbreviation %>:
    <%= f.text_field :state_abbreviation %><br />

    <%= f.label :city_name %>:
    <%= f.text_field :city_name %><br />

    <%= f.label :zipcode_number %>:
    <%= f.text_field :zipcode_number %><br />


    <%= f.radio_button(:rent_or_sell, false) %>
    <%= f.label(:rent_or_sell, "Rental") %>
    <%= f.radio_button(:rent_or_sell, true) %>
    <%= f.label(:rent_or_sell, "Sale") %> 
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="control-group">
      <%= f.label :pictures, :class => 'control-label' %>
      <div class="controls">
        <!-- The magic is coming ...look at my eyes....shazammmm -->
        <!-- Use HTML5 multiple attribute to enable multiple selection
             and pass back to controller all files as an array, ready 
             for paperclip!!
             file_field_tag, since images is not a gallery attribute
         -->
         <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>
    </div>


    <%= f.submit %>
  <% end %>
</div>