<%= javascript_tag do %>
  window.listings = <%= raw @listings.to_json %>;
  window.key = '<%=GOOGLE_MAPS_API_KEY%>';

  window.onload = loadScript();
<% end %>
<div class="row">
	<div class="col-md-5">
		<div id="main_map" class="map"></div>
	</div>
	<div class="col-md-7 row">
		<div class="row listing_row">
			<%= will_paginate @listings %>
			<h3 class="centered"> For Rent </h3>
			<% @listings.each_with_index do |listing, index| %>
				<% if (index % 3 == 0 && index != 0) %>
					</div>
					<div class="row listing_row">
						<div class="col-md-4">
								<%= render partial: "/listings/thumb", locals: {listing: listing, sizing: "auto"}%>
						</div>

				<% else %>
					<div class="col-md-4">
						<%= render partial: "/listings/thumb", locals: {listing: listing, sizing: "auto"}%>
					</div>
				<% end %>
			<% end %>
			<%= will_paginate @listings %>
		</div>
	</div>
</div>

