<%= javascript_tag do %>
  window.listings = <%= raw @listing.to_json %>;
  window.key = '<%=GOOGLE_MAPS_API_KEY%>';

  window.onload = loadScript();
  $( document ).ready(function() {
    $(".owl-carousel").owlCarousel({items: 1});
  });
<% end %>


<% if flash[:notice] != nil %>
	    <div class="alert alert-success"> flash[:notice] </div>
<% end %>

<div class="row">
  <div class="col-md-3 lister">
    <div class="lister-info">
      <%= render partial: "users/lister", locals: {lister: @listing.lister} %>
    </div>
    <div class="price">
      <p> $<%=@listing.price%> </p>
    </div>
  </div>
  <div class="col-md-5 main-image">
    <% if @listing.pictures.size > 0 %>
      <div class="owl-carousel">
        <% @listing.pictures.each do |picture| %>
  	      <div><%= image_tag picture.image.url(:large)%></div>
        <% end %>
      </div>
    <% end %>
    <h2><%=@listing.address%>, <%=@listing.city.name%>, <%=@listing.state.abbreviation%> <%=@listing.zipcode.number%> </h2> 
    <h3> <%=@listing.bedroom_count%> beds / <%=@listing.bathroom_count%> baths </h3>
    <p> <%=@listing.description %> </p>
    <% if current_user != nil%>
      <% if !current_user.followed?(@listing) %>
        <%= form_for(@following, url: {controller: :followings, action: :create}) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :listing_id, :value => @listing.id %>
              <%= f.submit "Favorite" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4 show-map">
    <div class="map showing-map">
    </div>

  </div>
</div>
