<%= javascript_tag do %>
  window.listings = <%= raw @listing.to_json %>;
  window.onload = loadScript(1)
  window.key = '<%=GOOGLE_MAPS_API_KEY%>'
<% end %>


<% if flash[:notice] != nil %>
	    <div class="alert alert-success"> flash[:notice] </div>
<% end %>


<h3>For sale at: $<%=@listing.price%></h3>


<div id = "providedPhotos">

</div>

<%= render 'popup' %>

<h3> Stuff after map </h3>