<% if flash[:notice] != nil %>
	    <div class="alert alert-success"> flash[:notice] </div>
<% end %>


<h3>For sale at: $<%=@listing.price%></h3>

<div id="map"></div>


<div id = "providedPhotos">

</div>

<div id = "popup_background">
	<div id = "popup">
		<%= link_to "delete", @listing, method: :delete, data: { confirm: "You sure?" } %>
		<div id ="popup_close">
			<p id = "popup_x"> 
				X
			</p>
		</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12345.27206851047!2d<%=@listing.longitude %>
		!3d<%=@listing.latitude%>!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1504745131140" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		<div id = "info">
			<h1><%=@listing.address%></h1>
			<h2><%=@listing.city.name%>, <%=@listing.state.abbreviation%> <%=@listing.zipcode.number%> </h2>
			<h3><%=@listing.bedroom_count%> beds</h3>
			<h3><%=@listing.bathroom_count%> baths</h3>
			<h3><%=@listing.area_square_feet%> sqft</h3>
			<p> <%=@listing.description%> </p>	
		</div>
		<h3>For sale at: $<%=@listing.price%></h3>
	</div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12345.27206851047!2d<%=@listing.longitude %>
!3d<%=@listing.latitude%>!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1504745131140" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<script>
      function initMap() {
        var uluru = {lat: <%=@listing.latitude%>, lng: <%=@listing.longitude%>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
<script async defer 

src="https://maps.googleapis.com/maps/api/js?key=<%=GOOGLE_MAPS_API_KEY%>&callback=initMap">
</script>

