<h3> Contact Agent </h3>

<%= lister.name %>
<%= lister.phone_number %>
<%= lister.email %>
<div class="contact_form">
	<h3> Contact Agent </h3>
	<%= form_tag %>
	<%= text_field_tag :message %>
	<%= submit_tag %>
</div>

