<h3> Contact Agent </h3>
<div class="lister-description">
	<%= image_tag lister.photo.url(:thumb), class: "lister-photo"%>
	<%= rating_for lister, "user_score" %>
	<p><%= lister.name %><p>
	<%= lister.phone_number %>
	<%= lister.email %>
</div>
<div class="contact_form">
	<h3> Contact Agent </h3>
	<%= form_tag %>
	<%= text_field_tag :message %>
	<%= submit_tag %>
</div>

